body {
    background-color:  #FFFAEC
    ;
    font-family: Garamond, serif;

  }

  p {
    color: #8B008B;
    font-size: 20px;
    margin-bottom: 1.5rem;
  }

  p:hover {
    opacity: 80%;
  }

  a { text-decoration: none; }


  li {
      margin: 10px;
  }

  li:hover {
    opacity: 50%;
  }

  .sheep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .sheep:hover {
    opacity: 80%
  }
  .ytan {
    height: 150px;
    width: 200px;
    border-radius: 5%;
  }